p {
  color: red;
  width: 80%;
  border: 1px dotted black;
  font-family: 'Times New Roman', Times, serif;
}

.asignar-Color {
    background-color: rgb(233, 233, 233);
    color: rgb(105, 195, 255);
    border:5px;
    border-style:solid;
    border-color: rgb(41, 41, 41);
}

.botonVerde {
  border: 5px solid rgb(126, 167, 147);
  background-color: chartreuse;
}

#colorsillo {
  color: darkorange;
}

